:root {
  --white: #ffffffff;
  --logo-color: #4d5ae5;
  --logo-studio-header: #2e2f42;
  --adress-link: #434455;
  --logo-studio-footer: #f4f4fd;
}
/* Global styles */
body {
  font-family: "Roboto", sans-serif;
  color: var(--adress-link);
  background-color: var(--white);
}
/* Classes */
.header {
  padding: 24px 156px;
  display: flex;
  flex-shrink: 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.link {
  text-decoration: none;
}
.logo-studio-header {
  color: var(--logo-studio-header);
}
.list {
  list-style: none;
}
.nav-list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-studio-header);
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.adresses {
  font-style: normal;
  margin-left: 292px;
}
.adress-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--adress-link);
}
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}

.hero-section {
  background-color: var(--logo-studio-header);
  padding: 188px 472px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.order-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.strong-points-section {
  padding: 120px 156px;
}
.strong-points-list {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 24px;
}
/* .strong-points-list :nth-child(n + 1) {
  gap: 24px;
} */
.strong-points-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-studio-header);
}
.strong-points-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--adress-link);
}

.what-are-we-doing-section {
  padding: 120px 156px;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-studio-header);
  margin-bottom: 72px;
}
.activity-list {
  display: flex;
  gap: 24px;
}

.our-team-section {
  background-color: #f4f4fd;
  padding: 120px 156px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-member {
  background-color: #ffffffff;
  text-align: center;
}
/* .team-member h3,
.team-member p {
  align-items: center;
} */

.footer {
  background-color: var(--logo-studio-header);
  padding: 101.5px 1020px 100px 156px;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.footer-paragraph {
  line-height: 1.5;
  color: var(--logo-studio-footer);
  letter-spacing: 0.02em;
}

/* for Portfolio */
.filters-list {
  padding: 96px 427px 72px 427px;
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--logo-studio-footer);
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: #ffffffff;
  background-color: #404bbf;
}
.projects-list {
  padding-left: 156px;
  padding-right: 156px;
  padding-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.row-element-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(var(--logo-studio-header));
}
.row-element-link:hover,
.row-element-link:focus {
  color: #404bbf;
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-studio-header);
}
